// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a {
  text-decoration: none;
  color: grey;
}

.quote {
  border-left: 3px solid #d4792f;
  padding: 20px;
  margin-left: 5px;
  color: #c9c288;
}